body {
  overflow: hidden;
  margin: 0; 
  height: 100%;
}

.background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("Images/Background.svg");
    background-size: cover;
    background-origin: inherit;
    background-position: center center; 
  }

.ballAndButton {
  height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center; 
  display:block;
}

.overlay-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    color: #fffacd;
    line-height: 24px;
  }
  

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  gap: 10px;
    
  position: absolute;
  width: auto;
  min-width: 100px;
  height: 64px;
  left: 50%;
  /* top: calc(50% + 100px); */
  transform: translateX(-50%);
    
  background: #077194;
  box-shadow: 4px 5px 30px 6px rgba(2, 101, 134, 0.157);
  border-radius: 8px;
  font-size: 18px; 
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF; 
  z-index: 0;
  bottom:  50px;

  white-space:nowrap;
}


.walkingBall {
  position: absolute; 
  bottom: 150px;
  width: fit-content; 
  left: 50%;
  transform: translateX(-50%);
}

 .obstacle {
  POSITION: absolute;   
  width: 100px; 
  height: 100px;
  /* background-color: orange;  */
  bottom: 150px; 
 }

 #score-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#score-count {
  font-size: 64px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff; 
  font-size: 28px;
    position: relative;
    left: 135px;
    top: 35px;
}

#score-background {
  background-image: url("Images/Score.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
  top: 10%;
  left: 50%;
  z-index: 1;
  width: 280px;
  height: 68px;
}
/* #gameover-background{
  background-image: url("Images/Gameover-background.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  width: auto;
  height: auto;
} */