body {
  overflow: hidden;
}

.background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/Users/sandyyeo/Desktop/GAProject1/Background.svg");
    background-size: cover;
    background-origin: inherit;
    background-position: center center; 
  }

.ballAndButton {
  height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 100px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  gap: 10px;
    
  position: absolute;
  width: auto;
  min-width: 100px;
  height: 64px;
  left: 50%;
  /* top: calc(50% + 100px); */
  transform: translateX(-50%);
    
  background: #077194;
  box-shadow: 4px 5px 30px 6px rgba(2, 101, 134, 0.157);
  border-radius: 8px;
  font-size: 18px; 
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF; 
  z-index: 0;
  bottom:  50px;

  white-space:nowrap;
}


.walkingBall {
  position: absolute; 
  bottom: 150px;
  width: fit-content; 
  left: 50%;
  transform: translateX(-50%);
}

 .obstacle {
  POSITION: absolute;   
  width: 60px; 
  height: 60px;
  background-color: orange; 
  bottom: 150px; 
 }